tmp
.air.toml
.DS_Store
.env
.idea
*.exe
*.bin
conf.toml
config.yaml
deploy/config/*
!deploy/config/.gitkeep
deploy/data/**/*
!deploy/data/**/.gitkeep
# Added by goreleaser init:
static/web
static/secure
*.log
