tmp
.air.toml
.DS_Store
.env
.idea
*.exe
conf.toml
config.yaml
config.enc
deploy/config/*
!deploy/config/.gitkeep
deploy/data/**/*
!deploy/data/**/.gitkeep
# Added by goreleaser init:
dist/
static/web
static/secure
*.log
